@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components{
  .smooth {
    @apply duration-300 ease-in-out transition
  }
  .form-btn{
    @apply w-full smooth border bg-white border-black/20  hover:border-black py-4
  }
  .input{
    @apply border border-black rounded-none ring-0 outline-none 
   focus:outline-none selection:text-gray-100 selection:bg-gray-900 w-full 
   hover:bg-gray-100 focus:bg-white smooth
  }
  .slot{
    @apply border border-black py-3 px-2 my-3 cursor-pointer items-center justify-center flex flex-col
  }
  .select {
    @apply  appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
  }
  .nav-title{
    @apply cursor-pointer hover:underline underline-offset-8
  }
  .CTA-btn{
    @apply bg-black py-2 text-2xs lg:text-sm px-2 lg:px-4 text-gray-100 hover:bg-white hover:text-gray-900 transition border border-transparent ease-in-out duration-300 hover:border-black
  }
  .mini-slot{
    @apply w-fit px-3 h-fit cursor-pointer hover:bg-black 
              hover:text-gray-100 smooth items-center justify-center flex py-2 border border-gray-900 flex-col
  }
}